.App {
  overflow: hidden;
  width: 500px;
  height: 1000px;
}

.hide-options .Select-clear-zone {
  display: none;
}

.hide-options {
  width: 200px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 70px 0;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  width: 25%;
  float: left;
}

.col-75 {
  width: 75%;
  float: left;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.Select-value-label {
  background-color: transparent;
}

.Select-value {
  background-color: #e3efff;
}

.Select-placeholder {
  background-color: #e3efff;
}